Chapter 2: 

Aggregating Data

Summary statistics

Counting

Grouped summary statistics

In [76]:
import pandas as pd
dogs = pd.read_csv('dogs.csv')
dogs.head()

      name      breed  color  height_cm  weight_kg date_of_birth
0    Bella   Labrador  Brown         56         24    2013-07-01
1  Charlie     Poodle  Black         43         24    2016-09-16
2     Lucy  Chow Chow  Brown         46         24    2014-08-25
3   Cooper  Schnauzer   Gray         49         17    2011-12-11
4      Max   Labrador  Black         59         29    2017-01-20

In [77]:
#Summarizing numerical data
dogs['height_cm'].mean()
'''

.median() , 
.mode()
.min() , 
.max()
.var() , 
.std()
.sum()
.quantile()

'''

'\n\n.median() , \n.mode()\n.min() , \n.max()\n.var() , \n.std()\n.sum()\n.quantile()\n\n'

In [78]:
#Summarizing dates
print(dogs['date_of_birth'].min())

print(dogs['date_of_birth'].max())

2011-12-11
2018-02-27

In [79]:
#The .agg() method
def pct30(column):
    return column.quantile(0.3)
dogs['weight_kg'].agg(pct30)

22.599999999999998

In [80]:
#Summaries on multiple columns
dogs[['weight_kg','height_cm']].agg(pct30)

weight_kg    22.6
height_cm    45.4
dtype: float64

In [81]:
# Multiple summaries
def pct40(column):
    return column.quantile(0.4)

dogs['weight_kg'].agg([pct30,pct40])

pct30    22.6
pct40    24.0
Name: weight_kg, dtype: float64

In [82]:
#Cumulative sum
print(dogs['weight_kg'])
dogs['weight_kg'].cumsum()

'''

Cumulative statistics
.cummax()
.cummin()
.cumprod()


'''

0    24
1    24
2    24
3    17
4    29
5     2
6    74
Name: weight_kg, dtype: int64

'\n\nCumulative statistics\n.cummax()\n.cummin()\n.cumprod()\n\n\n'

In [83]:
vet_visits = pd.read_csv('vet_visits.csv')

In [84]:
#Dropping duplicate names
unique_dogs = vet_visits.drop_duplicates(subset='name')
print(unique_dogs)
#tekrarlanan değerleri kaldırır

         date     name        breed  weight_kg
0  2018-09-02    Bella     Labrador      24.87
1  2019-06-07      Max     Labrador      28.35
2  2018-01-17   Stella    Chihuahua       1.51
3  2019-10-19     Lucy    Chow Chow      24.07
4  2020-03-12  Charlie       Poodle      22.10
5  2021-05-28   Cooper    Schnauzer      16.80
6  2022-02-15   Bernie  St. Bernard      73.20

In [85]:
#Dropping duplicate pairs
unique_dogs = vet_visits.drop_duplicates(subset=['name','breed'])
print(unique_dogs)

         date     name        breed  weight_kg
0  2018-09-02    Bella     Labrador      24.87
1  2019-06-07      Max     Labrador      28.35
2  2018-01-17   Stella    Chihuahua       1.51
3  2019-10-19     Lucy    Chow Chow      24.07
4  2020-03-12  Charlie       Poodle      22.10
5  2021-05-28   Cooper    Schnauzer      16.80
6  2022-02-15   Bernie  St. Bernard      73.20
8  2022-11-30      Max    Chow Chow      25.15

In [86]:
unique_dogs['breed'].value_counts()

breed
Labrador       2
Chow Chow      2
Chihuahua      1
Poodle         1
Schnauzer      1
St. Bernard    1
Name: count, dtype: int64

In [87]:
unique_dogs['breed'].value_counts(sort=True)

breed
Labrador       2
Chow Chow      2
Chihuahua      1
Poodle         1
Schnauzer      1
St. Bernard    1
Name: count, dtype: int64

In [89]:
#Proportions
unique_dogs['breed'].value_counts(normalize=True)

breed
Labrador       0.250
Chow Chow      0.250
Chihuahua      0.125
Poodle         0.125
Schnauzer      0.125
St. Bernard    0.125
Name: proportion, dtype: float64

In [92]:
#Summaries by group
print(dogs[dogs['color'] == 'Brown']['weight_kg'].mean())
print(dogs[dogs['color'] == 'White']['weight_kg'].mean())
print(dogs[dogs['color'] == 'Tan']['weight_kg'].mean())

24.0
74.0
2.0

In [93]:
#Grouped summaries
dogs.groupby('color')['weight_kg'].mean()

color
Black    26.5
Brown    24.0
Gray     17.0
Tan       2.0
White    74.0
Name: weight_kg, dtype: float64

In [99]:
#Multiple grouped summaries
dogs.groupby('color')['weight_kg'].agg([min,max,sum])

C:\Users\mehme\AppData\Local\Temp\ipykernel_1120\3863254.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  dogs.groupby('color')['weight_kg'].agg([min,max,sum])
C:\Users\mehme\AppData\Local\Temp\ipykernel_1120\3863254.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  dogs.groupby('color')['weight_kg'].agg([min,max,sum])
C:\Users\mehme\AppData\Local\Temp\ipykernel_1120\3863254.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dogs.groupby('color')['weight_kg'].agg([min,max,sum])

       min  max  sum
color
Black   24   29   53
Brown   24   24   48
Gray    17   17   17
Tan      2    2    2
White   74   74   74

In [100]:
#Grouping by multiple variables
dogs.groupby(['color','breed'])['weight_kg'].mean()

color  breed
Black  Labrador       29.0
       Poodle         24.0
Brown  Chow Chow      24.0
       Labrador       24.0
Gray   Schnauzer      17.0
Tan    Chihuahua       2.0
White  St. Bernard    74.0
Name: weight_kg, dtype: float64

In [102]:
#Many groups, many summaries
dogs.groupby(['color','breed'])[['weight_kg','height_cm']].mean()

                   weight_kg  height_cm
color breed
Black Labrador          29.0       59.0
      Poodle            24.0       43.0
Brown Chow Chow         24.0       46.0
      Labrador          24.0       56.0
Gray  Schnauzer         17.0       49.0
Tan   Chihuahua          2.0       18.0
White St. Bernard       74.0       77.0

In [103]:
#Group by to pivot table
dogs.pivot_table(values='weight_kg',index='color')

       weight_kg
color
Black       26.5
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

In [104]:
#Different statistics
import numpy as np
dogs.pivot_table(values='weight_kg',index='color',aggfunc=np.median)

C:\Users\mehme\AppData\Local\Temp\ipykernel_1120\3477092072.py:3: FutureWarning: The provided callable <function median at 0x0000014B328FB920> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(values='weight_kg',index='color',aggfunc=np.median)

       weight_kg
color
Black       26.5
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

In [105]:
#Multiple statistics
dogs.pivot_table(index='color',values='weight_kg',aggfunc=[np.mean, np.median])

C:\Users\mehme\AppData\Local\Temp\ipykernel_1120\1862351631.py:2: FutureWarning: The provided callable <function mean at 0x0000014B327D0680> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs.pivot_table(index='color',values='weight_kg',aggfunc=[np.mean, np.median])
C:\Users\mehme\AppData\Local\Temp\ipykernel_1120\1862351631.py:2: FutureWarning: The provided callable <function median at 0x0000014B328FB920> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs.pivot_table(index='color',values='weight_kg',aggfunc=[np.mean, np.median])

           mean    median
      weight_kg weight_kg
color
Black      26.5      26.5
Brown      24.0      24.0
Gray       17.0      17.0
Tan         2.0       2.0
White      74.0      74.0

In [106]:
dogs.pivot_table(values='weight_kg',index='color',columns='breed')

breed  Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer  St. Bernard
color
Black        NaN        NaN      29.0    24.0        NaN          NaN
Brown        NaN       24.0      24.0     NaN        NaN          NaN
Gray         NaN        NaN       NaN     NaN       17.0          NaN
Tan          2.0        NaN       NaN     NaN        NaN          NaN
White        NaN        NaN       NaN     NaN        NaN         74.0

In [107]:
#Filling missing values in pivot tables
dogs.pivot_table(index='color',values='weight_kg',columns='breed',fill_value=0)

breed  Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer  St. Bernard
color
Black        0.0        0.0      29.0    24.0        0.0          0.0
Brown        0.0       24.0      24.0     0.0        0.0          0.0
Gray         0.0        0.0       0.0     0.0       17.0          0.0
Tan          2.0        0.0       0.0     0.0        0.0          0.0
White        0.0        0.0       0.0     0.0        0.0         74.0

In [108]:
#Summing with pivot tables
dogs.pivot_table(index='color',values='weight_kg',columns='breed',fill_value=0,margins=True)

breed,Chihuahua,Chow Chow,Labrador,Poodle,Schnauzer,St. Bernard,All
color,,,,,,,
Black,0.0,0.0,29.0,24.0,0.0,0.0,26.500000
Brown,0.0,24.0,24.0,0.0,0.0,0.0,24.000000
Gray,0.0,0.0,0.0,0.0,17.0,0.0,17.000000
Tan,2.0,0.0,0.0,0.0,0.0,0.0,2.000000
White,0.0,0.0,0.0,0.0,0.0,74.0,74.000000
All,2.0,24.0,26.5,24.0,17.0,74.0,27.714286